@page
@model collaboration.Pages.collaborationModel
@{
    ViewData["Title"] = "Collaboration";
}

<div class="px-4 pt-5 my-5 text-center ">
    <h1 class="display-4 fw-bold">Work With Us.</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">We are open for any collaboration and project. You can send your proposal and make our vision come true.</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center mb-5">
        <button type="button" class="btn btn-primary btn-lg px-4 me-sm-3">Send Proposal</button>
      </div>
    </div>
 
  </div>

  <img src="~/images/8.png" alt="logo" class="d-block mx-auto mt-5 pt-5 mb-3 img-fluid" height="auto" width="1000px" />
