@page
@model company.Pages.companyModel
@{
    ViewData["Title"] = "Company";
}

<img src="~/images/logob.png" alt="logo" class="d-block mx-auto mt-5 pt-3 img-fluid" height="auto" width="400px"/>
<div class="px-4 py-5 text-center">
    <div class="col-lg-6 mx-auto">
      <p class="lead">Arkan Studio. is a creative lab for creative people that provides people to get a nice looking branding for their brand or UMKM. We give a outstanding design with up to date trend like 3D style, motion, etc.</p>
    </div>
  </div>

<div class="container px-4" id="custom-cards">
    <h2 class="pb-2 border-bottom">Our Advantages</h2>
    <div class="row row-cols-1 row-cols-lg-3 align-items-stretch g-4 py-5">

      <div class="col">
        <div class="card card-cover overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/1.jpg); background-size:cover; background-repeat: no-repeat; ">
          <div class="d-flex flex-column h-60 p-5 pb-3 text-white text-shadow-1">
            <h1 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Up to date.</h1>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="~/images/logo.png" alt="Bootstrap" class="" width="90" height="13">
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/2.png); background-size:cover; background-repeat: no-repeat; ">
          <div class="d-flex flex-column h-60 p-5 pb-3 text-white text-shadow-1">
            <h1 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Fast Pace.</h1>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="~/images/logo.png" alt="Bootstrap" class="" width="90" height="13">
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image:linear-gradient(0deg, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url(../images/3.png); background-size:cover; background-repeat: no-repeat; ">
          <div class="d-flex flex-column h-60 p-5 pb-3 text-white text-shadow-1">
            <h1 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">Outstanding.</h1>
            <ul class="d-flex list-unstyled mt-auto">
              <li class="me-auto">
                <img src="~/images/logo.png" alt="Bootstrap" class="" width="90" height="13">
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
