@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}


<div class="container col-xxl-11 text-dark">
    <div class="row flex-lg-row-reverse g-5 align-items-center justify-content-center mt-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="~/images/aaa.png" class="h-100 w-auto img-fluid" alt="Bootstrap Themes" loading="lazy" >
      </div>
      <div class="col-lg-6">
        <h1 class="display-1 text-lg-start lh-1 mb-4 fw-bold" style="font-family:Raleway;">arkan <strong>Studio.</strong></h1>
        <p class="lead"><strong>All your visual need is here.</strong></p>
        <p class="lead">we will make your 3D animation, motion graphics, advertisment, design graphics, UI/UX etc.</p>
      <div class="mt-4 d-md-flex">
          <a asp-area="" asp-page="/q1/service"><button type="button" class="btn btn-outline-dark btn-lg px-4 me-md-2" >Our Services</button></a>
       </div>
        </div>
      </div>
    </div>
  
  