@page
@model profile.Pages.profileModel
@{
    ViewData["Title"] = "Profile";
}
<img src="~/images/4.png" alt="logo" class="d-block mx-auto my-0 img-fluid" height="auto" width="800px"/>
<div class="container">
    <div class="px-5 mb-2 bg-light rounded-3">
      <div class="container-fluid py-5">
        <h1 class="display-5 fw-bold">Steal Deal</h1>
        <p class="col-md-8 fs-4">Our mission is bring a good nice looking design for everybody, anytime, anywhere. We are not a money oriented company and our main purpose is helping UMKM and small business have a good branding.</p>
      </div>
    </div>

    <div class="row align-items-md-stretch">
      <div class="col-md-6">
        <div class="h-100 p-5 text-white bg-dark rounded-3">
          <h2>Up To Date Design</h2>
          <p>We are using trendy up to date design such as 3D design, motion graphics, design graphics and UI/UX Modern Design.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="h-100 p-5 bg-light border rounded-3">
          <h2>Fast Work</h2>
          <p>We are a fast pace worker. We dont want any time wasted for our client. More fast we working, more prosperous small business can be.</p>
        </div>
      </div>
    </div>
  </div>