@page 
@model service.Pages.serviceModel 
@{ 
    ViewData["Title"] = "Service"; 
}

<img src="~/images/5.png" alt="logo" class="d-block mx-auto mt-5 mb-3 img-fluid" height="auto" width="800px" />

<div class="container p-5">
    <div class="row row-cols-1 row-cols-xs-2 row-cols-sm-2 row-cols-lg-4 g-3">
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="text-center">
                    <div class="img-hover-zoom img-hover-zoom--colorize">
                        <img class="shadow" src="~/images/1.jpg" alt="Another Image zoom-on-hover effect" />
                    </div>
                </div>

                <div class="card-body">
                    <div class="clearfix mb-3"></div>

                    <div class="my-2 text-center">
                        <h1>3D Design</h1>
                    </div>
                    <div class="mb-3">
                        <h2 class="text-uppercase text-center role">
                            3D animation and graphics.
                        </h2>
                    </div>
                    <div class="box">
                        <div>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fab fa-github"></i></li>
                                <li class="list-inline-item">
                                    <i class="fab fa-linkedin-in"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fab fa-instagram"></i>
                                </li>
                                <li class="list-inline-item"><i class="fab fa-twitter"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="text-center">
                    <div class="img-hover-zoom img-hover-zoom--colorize">
                        <img class="shadow" src="~/images/2.png" alt="Another Image zoom-on-hover effect" />
                    </div>
                </div>

                <div class="card-body">
                    <div class="clearfix mb-3"></div>

                    <div class="my-2 text-center">
                        <h1>Motion</h1>
                    </div>
                    <div class="mb-3">
                        <h2 class="text-uppercase text-center role">
                            Motion for your branding.
                        </h2>
                    </div>
                    <div class="box">
                        <div>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fab fa-github"></i></li>
                                <li class="list-inline-item">
                                    <i class="fab fa-linkedin-in"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fab fa-instagram"></i>
                                </li>
                                <li class="list-inline-item"><i class="fab fa-twitter"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="text-center">
                    <div class="img-hover-zoom img-hover-zoom--colorize">
                        <img class="shadow" src="~/images/3.png" alt="Another Image zoom-on-hover effect" />
                    </div>
                </div>

                <div class="card-body">
                    <div class="clearfix mb-3"></div>

                    <div class="my-2 text-center">
                        <h1>Graphics</h1>
                    </div>
                    <div class="mb-3">
                        <h2 class="text-uppercase text-center role">
                            Design your feed or poster.
                        </h2>
                    </div>
                    <div class="box">
                        <div>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fab fa-github"></i></li>
                                <li class="list-inline-item">
                                    <i class="fab fa-linkedin-in"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fab fa-instagram"></i>
                                </li>
                                <li class="list-inline-item"><i class="fab fa-twitter"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card h-100 shadow-sm">
                <div class="text-center">
                    <div class="img-hover-zoom img-hover-zoom--colorize">
                        <img class="shadow" src="~/images/7.png" alt="Another Image zoom-on-hover effect" />
                    </div>
                </div>

                <div class="card-body">
                    <div class="clearfix mb-3"></div>

                    <div class="my-2 text-center">
                        <h1>UI/UX</h1>
                    </div>
                    <div class="mb-3">
                        <h2 class="text-uppercase text-center role">Build your website.</h2>
                    </div>
                    <div class="box">
                        <div>
                            <ul class="list-inline">
                                <li class="list-inline-item"><i class="fab fa-github"></i></li>
                                <li class="list-inline-item">
                                    <i class="fab fa-linkedin-in"></i>
                                </li>
                                <li class="list-inline-item">
                                    <i class="fab fa-instagram"></i>
                                </li>
                                <li class="list-inline-item"><i class="fab fa-twitter"></i></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>